*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
   
    overflow: hidden;
}

body{
    width: 100%;
    height: 100dvh;
     background-image: url(fundo.jpg);
     background-size: cover;
     background-position: top;
    display: flex;
    
    padding: 20px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

h1{
    width: 100%;
    text-align: center;
    flex-shrink: 0;
    height: auto;
    color: white;
    font-size: 2.3em;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: white;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 1em;
}
ul{
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    font-size: .9em;
    color: white;
    justify-content: center;
    justify-content: center;
    gap: 10px;
}
li{
    width: 25%;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#lista{
    width: 14%;
}
#rodape {
    width: 100%;
    height: 50px;

    display: flex;
    gap: 5px;

    flex-shrink: 0;
}
#rodape input{
    width: 75%;
    padding: 10px;
    color: rgba(255, 255, 255, 0.719);
    border: none;
    font-size: 1.2em;
    font-weight: lighter;
    background-color: transparent;
}

#mensagem::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}

#mensagem:focus{
    background-color: rgba(255, 255, 255, 0.527);
    color: black;
    border: hidden;
}
#rodape button{
    width: 25%;

    border: 2px solid white;
    font-size: 1.4em;
    color: white;
    background-color: transparent;
    
}

#chat{
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.usuario {
    width: 100%;
    max-height: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.63);

    overflow-wrap: break-word;
}

.assistente {
    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.966);
    overflow-wrap: break-word;
}
